<!--The content below is only a placeholder and can be replaced.-->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<div class="div1">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="charizard"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/151.png">

    <app-show *ngIf="is_tasks" [taskToShow]="taskid"></app-show> 

    <!-- <div class="div3 root" *ngIf="is_tasks">
      <p>{{taskid?.title}}</p>
      <p>{{taskid?.description}}</p>
      <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task> 
    </div> -->

  <div class="div2 ">
    <button type="button" class="btn btn-info" (click)="onButtonClick()">Get All Tasks</button>
    <div *ngFor="let task of tasks">
      <p>{{task?.title}}</p>
      <button type="button" class="btn btn-success" (click)="getTasksById(task._id)">show</button>
      <button type="button" class="btn btn-info" (click)="showEditTask(task)">edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(task._id)">delete</button>

    </div>
  </div>

  <div class="div4">

    <form (submit)="addTask()">
      <p> Add Task </p>
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title " placeholder="title" />
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description" placeholder="description" />
      <input type="submit" value="Create Task" />
    </form>

  </div>

  <div class="div5" *ngIf="edit" >
    <form (submit)="onEdit()" >
     
      <p>Edit Task</p>
      <input type="text"  name="editTask.title" [(ngModel)]="editTask.title " value="{{editTask.title}}" />
      <input type="text" name="editTask.description" [(ngModel)]="editTask.description" value="{{editTask.description}}" />
      <input type="submit" value="Edit Task" />
    </form>

  </div>
</div>
<router-outlet></router-outlet>
