<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="div1">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png">
  <div class="div2">
    <button class="btn btn-info" (click)="onButtonClick()">Get All Tasks</button>
    <div *ngFor="let task of tasks">

        <!-- <p *ngFor="let task of tasks">{{task.description}}</p> -->
        <p>{{task.description}} <button class="btn btn-success" (click)="onButtonClick2()">show</button></p>
        


    </div>
  </div>
  <div class="div3">
    <p>{{tasksid[0].title}}</p>
    <p>{{tasksid[0].description}}</p>
  </div>
</div>


<router-outlet></router-outlet>
