/* You can add global styles to this file, and also import other style files */
.div1{
    border: solid 10px lightsteelblue;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
}
.btn{
    display: block;
    margin: auto auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.div2{
    border: solid 10px pink;
    border-radius: 15px;
    margin: 15px;
    min-height: 100px;
}
.div3{
    border: solid 10px palegreen;
    border-radius: 15px;
    margin: 15px;
}
.div4{
    border: solid 10px lightgrey;
    border-radius: 15px;
    margin: 15px;
    height: 100px;
}
.div5{
    border: solid 10px plum;
    border-radius: 15px;
    margin: 15px;
    height: 100px;
}